<h1 class="text-center">Please sign in</h1>

<form [formGroup]="form" class="form mt-3" (submit)="submit()">

  <div class="form-group">
    <input type="email" formControlName="email" class="form-control" placeholder="Email">
  </div>

  <div class="form-group">
    <input type="password" formControlName="password" class="form-control" placeholder="Password">
  </div>

  <button class="btn btn-primary btn-lg btn-block">Login</button>
</form>
