<nav class="navbar navbar-dark bg-dark mb-4">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
  </ul>
  <div class="navbar-nav">
    <a class="nav-link" routerLink="/login" *ngIf='!loggedIn'>Login</a>
    <a class="nav-link" routerLink="/" *ngIf='loggedIn' (click)="logout()">Logout</a>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

