<h1 class="text-center">Please Register!</h1>

<form [formGroup]="form" class="form mt-3" (submit)="submit()">

  <div class="row">
    <div class="form-group col-6">
      <input type="text" formControlName="first_name" class="form-control" placeholder="Nombre">
    </div>
    <div class="form-group col-6">
      <input type="text" formControlName="last_name" class="form-control" placeholder="Apellido">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-12">
      <input type="email" formControlName="email" class="form-control" placeholder="Email">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-6">
      <input type="password" formControlName="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group col-6">
      <input type="password" formControlName="password_confirmation" class="form-control" placeholder="Password Confirmation">
    </div>
  </div>

  <button class="btn btn-primary btn-lg btn-block" [disabled]="!form.valid">Register</button>
</form>

